html {
  font-size: 62.5%;
}

body {
  color: #424242;
  font-size: 1.3rem;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

a {
  font-weight: bold;
  color: #0056c7;
  text-decoration: none;
}

a:visited {
  color: #0056c7;
}

a:hover {
  color: #424242;
}

main {
  max-width: 630px;
  padding: 75px 90px;
  margin: 2% auto;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.55);
}

header h1 {
  border-bottom: 5px solid #424242;
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 4.8rem;
  padding-bottom: 10px;
  text-transform: uppercase;
}

header ul {
  padding: 15px 0 10px 0;
}

header li {
  display: inline;
}

header li::after {
  content: " ❖ ";
  color: crimson;
}

header li:last-child::after {
  content: "";
}

h3 {
  color: crimson;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

h3 br {
  display: none;
}

.description li {
  margin: 5px 0 5px 10px;
  line-height: 2.2rem;
}

.description span {
  padding-left: 5px;
}

.description li::before {
  content: "✔";
}

.tech {
  font-style: italic;
}

.tech ul,
.tech li {
  display: inline;
}

.tech li::before {
  content: " ";
}

h2 {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-family: "Oswald", sans-serif;
  margin: 25px 0 10px;
  border-bottom: 1px solid rgba(179, 158, 162, 0.15);
  padding-bottom: 5px;
}

article {
  margin: 25px 0;
}

p {
  margin: 10px 0;
}

.summary {
  margin: 15px 0;
}

.title {
  margin: 25px 0 10px 0;
}
@media only screen and (max-width: 800px) {
  main {
    padding: 25px;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
  }
  h3 span {
    margin: 5px 0;
  }
  h3 span:last-child {
    text-align: right;
  }
  h3 br {
    display: inline;
  }
  header li {
    display: inherit;
  }
  header li::after {
    content: none;
  }
  header li::before {
    content: "❖ ";
    color: crimson;
  }
  /*
  header li:first-child::before {
    content: "◷ ";
    color: crimson;
  }
  header li::before {
    content: "◶ ";
    color: crimson;
  }
  header li:last-child::before {
    content: "◵ ";
    color: crimson;
  }*/
}
@media only screen and (min-width: 640px) {
  h3 br {
    display: none;
  }
}
@media print {
  main {
    padding-bottom: 0;
    padding-top:35px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.6rem;
  }
  .page {
    padding-top: 35px;
    page-break-before: always;
  }
  .title {
  margin: 15px 0 10px 0;
}
}
